<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeblog.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.zeblog.entity.Article">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="AuthorId" jdbcType="INTEGER" property="authorId" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OriginalType" jdbcType="VARCHAR" property="originalType" />
    <result column="MarkdownContent" jdbcType="VARCHAR" property="markdownContent" />
    <result column="HtmlContent" jdbcType="VARCHAR" property="htmlContent" />
    <result column="MarkdownCatalog" jdbcType="VARCHAR" property="markdownCatalog" />
    <result column="HtmlCatalog" jdbcType="VARCHAR" property="htmlCatalog" />
    <result column="ReadTimes" jdbcType="INTEGER" property="readTimes" />
    <result column="ThumbsUpTimes" jdbcType="INTEGER" property="thumbsUpTimes" />
    <result column="IsDelete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeblog.entity.Article">
    insert into article (Id, Title, AuthorId, 
      CreateTime, OriginalType, MarkdownContent, 
      HtmlContent, MarkdownCatalog, HtmlCatalog, 
      ReadTimes, ThumbsUpTimes, IsDelete
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{originalType,jdbcType=VARCHAR}, #{markdownContent,jdbcType=VARCHAR}, 
      #{htmlContent,jdbcType=VARCHAR}, #{markdownCatalog,jdbcType=VARCHAR}, #{htmlCatalog,jdbcType=VARCHAR}, 
      #{readTimes,jdbcType=INTEGER}, #{thumbsUpTimes,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeblog.entity.Article">
    update article
    set Title = #{title,jdbcType=VARCHAR},
      AuthorId = #{authorId,jdbcType=INTEGER},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      OriginalType = #{originalType,jdbcType=VARCHAR},
      MarkdownContent = #{markdownContent,jdbcType=VARCHAR},
      HtmlContent = #{htmlContent,jdbcType=VARCHAR},
      MarkdownCatalog = #{markdownCatalog,jdbcType=VARCHAR},
      HtmlCatalog = #{htmlCatalog,jdbcType=VARCHAR},
      ReadTimes = #{readTimes,jdbcType=INTEGER},
      ThumbsUpTimes = #{thumbsUpTimes,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,Id, Title, AuthorId, CreateTime, OriginalType, MarkdownContent,
    HtmlContent, MarkdownCatalog, HtmlCatalog, ReadTimes, ThumbsUpTimes, IsDelete
    from article
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByAuthorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,Id, Title, AuthorId, CreateTime, OriginalType, MarkdownContent,
    HtmlContent, MarkdownCatalog, HtmlCatalog, ReadTimes, ThumbsUpTimes, IsDelete
    from article
    where AuthorId = #{authorId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Id, Title, AuthorId, CreateTime, OriginalType, MarkdownContent, HtmlContent, 
    MarkdownCatalog, HtmlCatalog, ReadTimes, ThumbsUpTimes, IsDelete
    from article
  </select>
</mapper>