<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeblog.dao.ArticleTagMapper">
  <resultMap id="BaseResultMap" type="com.zeblog.entity.ArticleTag">
    <id column="ArticleTagId" jdbcType="INTEGER" property="articleTagId" />
    <result column="ArticleId" jdbcType="INTEGER" property="articleId" />
    <result column="TagName" jdbcType="INTEGER" property="tagName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_tag
    where ArticleTagId = #{articleTagId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByArticleId" parameterType="java.lang.Integer">
    delete from article_tag
    where ArticleId = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeblog.entity.ArticleTag">
    insert into article_tag (ArticleTagId, ArticleId, TagName
      )
    values (#{articleTagId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{tagName,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeblog.entity.ArticleTag">
    update article_tag
    set ArticleId = #{articleId,jdbcType=INTEGER},
      TagId = #{tagId,jdbcType=INTEGER}
    where ArticleTagId = #{articleTagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,ArticleTagId, ArticleId, TagName
    from article_tag
    where ArticleTagId = #{articleTagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ArticleTagId, ArticleId, TagName
    from article_tag
  </select>
</mapper>