<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeblog.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.zeblog.entity.Tag">
    <id column="TagId" jdbcType="INTEGER" property="tagId" />
    <result column="UserId" jdbcType="INTEGER" property="userId" />
    <result column="TagName" jdbcType="VARCHAR" property="tagName" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where TagId = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeblog.entity.Tag">
    insert into tag (TagId, UserId, TagName, 
      CreateTime)
    values (#{tagId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zeblog.entity.Tag">
    update tag
    set UserId = #{userId,jdbcType=INTEGER},
      TagName = #{tagName,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP}
    where TagId = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,TagId, UserId, TagName, CreateTime
    from tag
    where TagId = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select TagId, UserId, TagName, CreateTime
    from tag
  </select>
  <select id="selectUserTag" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select TagId, UserId, TagName, CreateTime
    from tag where UserId = #{userId,jdbcType=INTEGER}
  </select>
</mapper>